<!--<h1>マイページ</h1>
<% @articles.each do |article| %>
<div>
<h2><%= article.title %></h2>
<p><%= article.content %></p>
<%= link_to '編集', edit_article_path(article) %>
<%= link_to '削除', article_path(article), method: :delete, data: { confirm: '本当に削除しますか？' } %>
</div>
<% end %>-->
